<template>
  <div class="content-user" id="content-user">
    <div class="card">
      <div class="card-title title-content card-header bg-white">
        <i class="fa-solid fa-pen"></i>
        <a href="#" class="text-decoration-none"> Edit User </a>
      </div>
      <div class="card-body">
        <form class="row">
          <div
            class="col-md-5 d-flex align-items-center justify-content-end mt-3 mb-3"
          >
            <p class="label-input">*</p>
            <label for="inputEmail4" class="form-label me-3">Name</label>
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div
            class="col-md-5 d-flex align-items-center justify-content-end mt-3 mb-3"
          ><p class="label-input">*</p>
            <label class="form-label me-3">Email</label>
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div
            class="col-md-5 d-flex align-items-center justify-content-end mt-3 mb-3"
          >
            <label for="inputEmail4" class="form-label me-3">Password</label>
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div
            class="col-md-5 d-flex align-items-center justify-content-end mt-3 mb-3"
          >
            <label for="inputEmail4" class="form-label me-3">Password (Comfirm)</label>
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </form>
        <div class="status-checkbox">
          <span id="checkbox-status"> Status   </span>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Inactive</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Active</label>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white d-flex justify-content-center">
        <button class="btn btn-primary me-3">
          <i class="fa-solid fa-floppy-disk"></i> Save
        </button>
        <button class="btn btn-outline-primary">
          <i class="fas fa-arrow-left"></i>
          <span> Clear </span>
        </button>
      </div>
    </div>
  </div>
</template>
