<template>
  <div class="content-user">
    <div class="bg-white title-content">
      <a href="#" class="text-decoration-none"> User </a>
    </div>

    <div class="wrapper-content-user">
      <div class="form-search">
        <div>
          <i class="fa-solid fa-angle-down"></i>
          <span class="ps-2 title-search"> Searching criteria </span>
        </div>
        <div>
          <span> Status: </span>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">All</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Inactive</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio5"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Active</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Name:</label>
          <div class="input-group mt-3 mb-5">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-4">
          <label>Email:</label>
          <div class="input-group mt-3 mb-5">
            <span class="input-group-text" id="basic-addon11"><i class="fa-solid fa-envelope"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="col-md-4 btn-search">
          <button class="btn btn-primary me-3">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span> Search </span>
          </button>
          <button class="btn btn-outline-primary">
            <i class="fas fa-eraser"></i>
            <span> Clear </span>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center list-pagination">
          <span> Total: 2 User  </span>
          <nav aria-label="Page navigation example">
            <ul class="pagination text-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa-solid fa-angle-left"></i
                ></a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa-solid fa-angle-right"></i
                ></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <button class="btn btn-primary me-3" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-plus"></i>
          </button>
          <button class="btn btn-outline-primary">
            <i class="fa-solid fa-arrow-rotate-right"></i>
          </button>
        </div>
      </div>
      <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                <i class="fa-solid fa-pen"></i> Edit User
              </h5>
              <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="row">
                <div
                    class="col-md-6 d-flex align-items-center justify-content-end mt-3 mb-3"
                >
                  <p class="label-input">*</p>
                  <label  class="form-label me-3">Name</label>
                  <span class="input-group-text" id="basic-addon"><i class="fa-solid fa-user"></i></span>
                  <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                  />
                </div>
                <div
                    class="col-md-6 d-flex align-items-center justify-content-end mt-3 mb-3"
                >
                  <div class="input-group">
                  <p class="label-input">*</p>
                  <label class="form-label me-3">Email</label>
                  <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                  <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                  />
                  </div>
                </div>
                <div
                    class="col-md-6 d-flex align-items-center justify-content-end mt-3 mb-3"
                >
                  <label  class="form-label me-3">Password</label>
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                  />
                </div>
                <div
                    class="col-md-6 d-flex align-items-center justify-content-end mt-3 mb-3"
                >
                  <label  class="form-label me-3">Password (Comfirm)</label>
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                  <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      aria-describedby="basic-addon1"
                  />
                </div>
              </form>
              <div class="status-checkbox">
                <span> Status: </span>
                <div class="form-check form-check-inline">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio"
                      value="option1"
                  />
                  <label class="form-check-label" for="inlineRadio1">Inactive</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio4"
                      value="option2"
                  />
                  <label class="form-check-label" for="inlineRadio2">Active</label>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
              >
                <i class="fa-solid fa-floppy-disk"></i>
                Save
              </button>
              <button type="reset" class="btn btn-outline-primary" data-bs-dismiss="modal"
                      aria-label="Close">
                <i class="fas fa-arrow-left"></i> Clear
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 mb-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><p class="text-primary">Admin</p></td>
              <td>admin@devfast.us</td>
              <td><span class="badge rounded-pill bg-success">process</span></td>
              <td><a href="#!"><i class="fa-solid fa-pen"></i></a>
                <a href="#!" class="a-link"><i class="fa-solid fa-link"></i></a>
                <a href="#!" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><p class="text-primary">Admin</p></td>
              <td>admin@devfast.us</td>
              <td><span class="badge rounded-pill bg-secondary">process</span></td>
              <td><a href="#!"><i class="fa-solid fa-pen"></i></a>
                <a href="#!" class="a-link"><i class="fa-solid fa-link"></i></a>
                <a href="#!" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex align-items-center list-pagination">
          <span> Total: 2 User </span>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa-solid fa-angle-left"></i
                ></a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#"
                  ><i class="fa-solid fa-angle-right"></i
                ></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>
