<template>
  <footer class="d-flex justify-content-between align-items-center footer container-fluid">
    <span>
      © 2021
      <a href="#">Compare Item</a>
    </span>
    <span> 
        Powered by 
        <a href="#">
            Devfast On Cheetah Platform
        </a>
    </span>
  </footer>
</template>
