<template>
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <div class="col-md-2">
        <a class="navbar-brand" href="#">
          <img src="https://devfast.us/images/devfast-logo.png" class="logo" />
          <span class="title-menu"> Cheetah - CMS </span>
        </a>
      </div>
      <div class="col-md-10">
        <div class="d-flex justify-content-between align-items-center">
          <i class="fa-solid fa-bars" id="menu-sidebar"></i>
          <span class="text-admin">Hello Admin</span>
          <div class="profile">

            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>
