<template>
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <i class="fas fa-tachometer-alt"></i>
        <a class="nav-link" aria-current="page" href="#">Home</a>
      </li>
      <span><b>SYSTEM</b></span>
      <li class="nav-item">
        <i class="fas fa-hockey-puck"></i>
        <a class="nav-link" aria-current="page" href="#">Consultation</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-clipboard-list"></i>
        <a class="nav-link" aria-current="page" href="#">Category</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-clipboard"></i>
        <a class="nav-link" aria-current="page" href="#"
          >Category product</a
        >
      </li>
      <li class="nav-item">
        <i class="fas fa-clipboard"></i>
        <a class="nav-link" aria-current="page" href="#">Tag Product</a>
      </li>
      <li class="nav-item">
        <i class="fa-solid fa-house-user"></i>
        <a class="nav-link" aria-current="page" href="#">Slide</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-credit-card"></i>
        <a class="nav-link" aria-current="page" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <i class="fa-solid fa-house-user"></i>
        <a class="nav-link" aria-current="page" href="#">Plan</a>
      </li>
      <span><b>MODULE</b></span>
      <li class="nav-item active">
        <i class="fa-solid fa-house-user"></i>
        <a class="nav-link active" aria-current="page" href="#">User</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-balance-scale"></i>
        <a class="nav-link" aria-current="page" href="#">Product</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-map-marker"></i>
        <a class="nav-link" aria-current="page" href="#">Post</a>
      </li>
      <li class="nav-item">
        <i class=" fas fa-user"></i>
        <a class="nav-link" aria-current="page" href="#">Customer</a>
      </li>
    </ul>
    <div class="bg-primary next-btn text-center" id="btn-sidebar">
      <a href="#">
        <i class="fa-solid fa-angle-left text-white"></i>
      </a>
    </div>
  </div>
</template>
