*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: #f9f9f9;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 92vh;
}
.sidebar{
  width: 30vh;
}
.wrapper-content {
  background-color: #f9f9f9;
}

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
  margin-top: 8.3vh;
  height: 49px;
}

.wrapper-content-user {
  padding: 20px 30px;
}

.form-label {
  margin-bottom: 0;
}