@import "./base.css";
.title-menu {
  font-size: 18px;
  padding-left: 5px;
  color: #0d6efd;
}
.logo {
  width: 100%;
  height: 100%;
  max-width: 48px;
  object-fit: cover;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.profile{
  margin-right: 1vh;
}
.profile i {
  font-size: 16px;
}

.text-admin {
  font-size: 16px;
  padding-left: 145vh;
}

.navbar {
  border-bottom: 1px solid #f2f2f2;
}

.nav-item {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav-link {
  color: black;
  font-size: 16px;
}

.nav span {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #0d6efd;
}

.nav {
  padding-bottom: 165px;
  border-right: 0.05rem solid #e5e5e5;
}
.next-btn i {
  padding: 15px;
}

.content-user {
  height: 85%;
}

.title-content {
  padding: 10px 30px;
}

.title-search {
  font-weight: 700;
}

.form-search {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-search {
  padding-top: 39px;
}

.list-pagination {
  gap: 0.5em;
}

ul {
  margin-bottom: 0;
}

.page-item {
  padding: 0 3px;
}

.page-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 50%;
}

.form-control {
  width: 300px;
}

.status-checkbox {
  margin-top: 10px;
  padding-left: 160px;
}

.modal-footer {
  justify-content: center;
}
.a-link{
  margin-left: 20px;
  margin-right: 20px;
}
.bg-success{
  background-color: #6fe015!important;
}
.bg-secondary{
  background-color: #c6ccd1!important;
}
#btn-sidebar{
  height: 48px;
}
a{
  text-decoration: none
}
.nav-item.active, .nav-link.active{
  background-color: #007bff;
  color: #fff;
}
.nav-icon{
  font-size: 1.1rem;
}
#content-user{
  height: 82%;
}
.card{
  height: 100%;
  margin: 3vh 3vh 3vh 3vh;
}
.label-input{
  margin-top: 21px;
  color: red;
}
.card-title, .modal-title{
  color: #007bff;
}
#menu-sidebar{
  margin-left: -22px;
}
#checkbox-status{
  margin-right: 10px;
}
.input-group-text{
  font-size: 1.5rem;
  background-color: white;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -110px;
  margin-top: 0.125rem;
}