<script setup>
import Header from "./components/Header.vue";
import Sidebar from "./components/Sidebar.vue";
import Footer from "./components/Footer.vue";
import Content from "./components/Content.vue";
import AddUser from "./components/AddUser.vue";
</script>

<template>
  <div id="app">
    <Header>
      <Header />
    </Header>
    <div class="wrapper">
      <div>
        <Sidebar />
      </div>
      <div class="wrapper-content">
        <!-- <EditUser />-->
<!--        <AddUser />-->
        <Content />
        <Footer />
      </div>
    </div>
  </div>
</template>

<style scoped></style>
